Django==1.11.23
PyYAML==3.11
argparse==1.2.1
django-bootstrap-form==2.0.6
django-cors-headers==1.0.0
django-filter==0.9.2
django-grappelli==2.4.5
django-rest-swagger==0.3.4
django-sql-explorer==0.7
djangorestframework==3.1.1
djangorestframework-gis==0.8.2
geojson==1.0.1
ipdb==0.8
ipython==0.13.2
jsonfield==0.9.20
newrelic==2.18.1.15
psycopg2==2.7.1
simplejson==3.3.0
sqlparse==0.1.11
wsgiref==0.1.2
xlrd==1.2.0
unicodecsv==0.14.1
