Django
PyYAML
argparse
django-bootstrap-form
django-cors-headers
django-filter
django-grappelli
django-rest-swagger
django-sql-explorer
djangorestframework
djangorestframework-gis
geojson
ipdb
ipython
jsonfield
newrelic
psycopg2
simplejson
sqlparse
xlrd
unicodecsv
