{% extends 'base.html' %}
{% load static from staticfiles %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock %}

{% block body %}
<div class="container">

  <h1>About</h1>

  <p class="lead">Thank you for visiting the Karnataka Learning Partnership's District Information System for Education (DISE) visualisation and reporting application.</p>


  <h2>What This Application Does</h2>

  <p><a href="http://dise.in/" target="_blank">DISE</a> collects an incredible array of data on all primary schools, public and private, in every state of India and have done so, year on year, for many years. The self-reported data contains variables that cover enrolment to sanitation to infrastructure and more. A full list of these variables can be found in the <a href="http://dise.in/Downloads/Sample%20Checking/5%25%20Sample%20Checking%20DCF%202013-14.pdf" target="_blank">DISE DCF</a>.</p>

  <p>KLP believes that the data DISE collects is an under-utilised resource and built this application to allow users to better explore this data set through multiple lenses.</p>


  <h2>What The Data Sources Are</h2>
  <p>There are multiple data sources that have gone in to making this application:</p>
  <ol>
    <li>Raw DISE data that you can download from <a href="http://schoolreportcards.in/SRC-New/RawData/RawData.aspx" target="_blank">School Report Cards</a>.</li>
    <li>School coordinate information that we have collected or reverse geocoded.</li>
    <li>PIN Code and Electoral Constituency information that we have mapped to the schools.</li>
  </ol>


  <h2>What The Post Processing Is</h2>
  <p>We have:</p>
  <ol>
    <li>Cleaned up the DISE data to the extent possible - in particular, filtered out schools that may not be primary schools.</li>
    <li>We have done considerable geo-processing such that we have been able to find latitude and longitude points for many of the schools in the DISE database. Currently, we have points for X of Y schools. (Sajjad) Please note that these points may not be accurate for purposes of navigation but are accurate for purposes of representation.</li>
    <li>We have then worked out what other boundaries - such as MP/MLA and Pin Codes each school corresponds to such that they can each be used as views for the DISE data.</li>
    <li>We have created a set of pre-determined filters that users can use to view the data.</li>
  </ol>


  <div class="row">
    <div class="col-md-4">
      <h3>Frameworks & Credits</h3>

      <ul>
        <li><a href="http://twitter.com/pythonerd" target="_blank">Bibhas</a> for the framework and API this runs on. </li>
        <li><a href="http://twitter.com/geohacker" target="_blank">Sajjad</a> for the spatial data management and maps. </li>
        <li><a href="http://twitter.com/prtksxna" target="_blank">Prateek</a> for the interface and interaction development.</li>
      </ul>
    </div>

    <div class="col-md-4">
      <h3>Feedback & Contact</h3>
      <p>We'd love to hear from you. Love it? Hate it? Can we do more? Better? Tell us all. Email us at <a href="mailto:dev@klp.org.in">dev@klp.org.in</a></p>
    </div>

    <div class="col-md-4">
      <h3>Source Code</h3>
      <p>The source code of this application is available on <a href="https://github.com/klpdotorg/dise_dashboard/" target="_blank">Github</a>!</p>
    </div>
  </div>

  <div class="row">
  	<p> This application is distributed under the <a href="http://opensource.org/licenses/MIT">MIT License (MIT) </a> © 2014 Karnataka Learning Partnership </p>
  	<p> DISE Data © <a href="http://www.nuepa.org/">NUEPA</a> </p>
  </div>

</div>
{% endblock %}

{% block endbody %}
{% endblock %}
