{% extends 'base.html' %}

{% block body %}
<div id="map-holder"></div>

<div id="popup-cluster" class="popup">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>Bellary <small>(cluster)</small></h4>
      </div>

      <div class="col-md-1">
        <h5>Schools</h5>
        <div class="circle_stat">442</div>
      </div>

      <div class="col-md-1">
        <h5>Students</h5>
        <div class="circle_stat">40,182</div>
      </div>

      <div class="col-md-1">
        <h5>Teachers</h5>
        <div class="circle_stat">1,200</div>
      </div>

      <div class="col-md-1">
        <h5>Libraries</h5>
        <div class="circle_stat">152</div>
      </div>

      <div class="col-md-1">
        <h5>Electricity</h5>
        <div class="circle_stat">342</div>
      </div>

      <div class="col-md-1">
        <h5>Toilets</h5>
        <div class="circle_stat">100</div>
      </div>

    </div>
  </div>
</div>

<div id="popup-school" class="popup">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>Apeejay, NOIDA <small>1984</small></h4>
      </div>

      <div class="col-md-1">
        <h5>Students</h5>
        <div class="circle_stat">3,000</div>
      </div>

      <div class="col-md-1">
        <h5>Teachers</h5>
        <div class="circle_stat">100</div>
      </div>

      <div class="col-md-2">
        <h5 class="question">Medium of Instruction</h5>
        <p class="answer">English</p>

        <h5 class="question">Category</h5>
        <p class="answer">Public School</p>
      </div>

      <div class="col-md-2">
        <h5 class="question">Management</h5>
        <p class="answer">Government</p>

        <h5 class="question">Electricity</h5>
        <p class="answer">Yes</p>
      </div>

      <div class="col-md-2">
        <h5 class="question">Libary</h5>
        <p class="answer">Yes</p>

        <h5 class="question">Number of books</h5>
        <p class="answer">400</p>
      </div>

      <div class="col-md-2">
        <h5 class="question">Address</h5>
        <p class="answer">
          Apeejay, Film City,
          Sector 16-A, NOIDA
          201303, Uttar Pradesh
        </p>
      </div>
    </div>
  </div>
</div>


<!-- Preset Editor -->
<div id="preset-editor">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Preset Editor</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3><span class="glyphicon glyphicon-briefcase"></span> Facilities</h3>
        <div class="check-list">
          <label><input type="checkbox" name="facilities" value="repair"> Classrooms need repair</label><br>
          <label><input type="checkbox" name="facilities" value="toilet"> Doesn't have Toilet</label><br>
          <label><input type="checkbox" name="facilities" value="toilet_for_girls"> Doesn't have Toilet for Girls</label><br>
          <label><input type="checkbox" name="facilities" value="electricity"> Doesn't have Electricity</label><br>
          <label><input type="checkbox" name="facilities" value="secure_wall"> Doesn't have Secure Wall</label><br>
          <label><input type="checkbox" name="facilities" value="mid_day_meal"> Doesn't have Mid-day meal</label><br>
          <label><input type="checkbox" name="facilities" value="library"> Doesn't have Library</label><br>
          <label><input type="checkbox" name="facilities" value="ramp"> Doesn't have Ramp</label><br>
          <label><input type="checkbox" name="facilities" value="blackboard"> Doesn't have Blackboard</label><br>
          <label><input type="checkbox" name="facilities" value="playground"> Doesn't have Playground</label><br>
          <label><input type="checkbox" name="facilities" value="medical_checkup"> Doesn't have Medical Checkup</label><br>
          <label><input type="checkbox" name="facilities" value="drinking_water"> Doesn't have Drinking Water</label>
        </div>
      </div>

      <div class="col-md-4">
        <h3><span class="glyphicon glyphicon-transfer"></span> RTE</h3>
        <div class="check-list">
          <label><input type="checkbox" name="rte" value="sdmc_constituted"> Without SDMC Constituted</label><br>
          <label><input type="checkbox" name="rte" value="sdmc_meetings"> Without SDMC Meetings</label><br>
          <label><input type="checkbox" name="rte" value="textbooks"> Without Textbooks</label><br>
          <label><input type="checkbox" name="rte" value="weaker_sections"> With Chilren from Weaker Section Enrolled</label><br>
        </div>

        <h3><span class="glyphicon glyphicon-certificate"></span> Compound Indicators</h3>
        <div class="check-list">
          <label><input type="checkbox" id="wgltb"> With Girls <strong>&lt;</strong> Boys</label><br><br>


          <label class="range">
            With enrollment from:&nbsp;&nbsp;
            <strong>
              <input type="text" id="wef-low" value="0" disabled>
              -
              <input type="text" id="wef-high" value="25" disabled>
            </strong>
          </label>
          <div id="wef-slider" class="range-slider" data-high="wef-high" data-low="wef-low"></div>

          <br>

          <label class="range">
            With Pupil-Teacher Ratio from:&nbsp;&nbsp;
            <strong>
              <input type="text" id="wptrf-low" value="0" disabled>
              -
              <input type="text" id="wptrf-high" value="35" disabled>
            </strong>
          </label>
          <div id="wptrf-slider" class="range-slider" data-high="wptrf-high" data-low="wptrf-low"></div>

          <br>
        </div>
      </div>

      <div class="col-md-4">
        <h3><span class="glyphicon glyphicon-user"></span> Teachers</h3>
        <div class="check-list">
          <label><input type="checkbox" name="teachers" value="room_for_hm"> Without seperate room for HM</label><br>
          <label><input type="checkbox" name="teachers" value="hm"> Without HM</label>
        </div>


        <h3><span class="glyphicon glyphicon-sound-stereo"></span> Range Indicators</h3>
        <div class="check-list">

          <label class="range">
            With number of classrooms between:&nbsp;&nbsp;
            <strong>
              <input type="text" id="wncb-low" value="0" disabled>
              -
              <input type="text" id="wncb-high" value="50" disabled>
            </strong>
          </label>
          <div id="wncb-slider" class="range-slider" data-high="wncb-high" data-low="wncb-low"></div>

          <br>

          <label class="range">
            With number of teachers between:&nbsp;&nbsp;
            <strong>
              <input type="text" id="wntb-low" value="0" disabled>
              -
              <input type="text" id="wntb-high" value="50" disabled>
            </strong>
          </label>
          <div id="wntb-slider" class="range-slider" data-high="wntb-high" data-low="wntb-low"></div>

          <br>

          <label class="range">
            With number of girls in class:&nbsp;&nbsp;
            <strong>
              <input type="text" id="wngic-low" value="0" disabled>
              -
              <input type="text" id="wngic-high" value="50" disabled>
            </strong>
          </label>
          <div id="wngic-slider" class="range-slider" data-high="wngic-high" data-low="wngic-low"></div>

          <br>

          <label class="range">
            With number of boys in class:&nbsp;&nbsp;
            <strong>
              <input type="text" id="wnbic-low" value="0" disabled>
              -
              <input type="text" id="wnbic-high" value="50" disabled>
            </strong>
          </label>
          <div id="wnbic-slider" class="range-slider" data-high="wnbic-high" data-low="wnbic-low"></div>



        </div>
      </div>
    </div>

    <div class="row action-row">
      <div class="col-md-push-9 col-md-3">
        <button type="button" class="btn">Save</button>
        or
        <a href="#">Cancel</a>
      </div>
    </div>
  </div>
</div>
<!-- Preset Editor -->


<div id="controls">
  <div id="super-search-container">
    <input type="text"  placeholder="Filter..." id="filter-select" autofocus>
    <!--
    <button class="btn">
      <span class="glyphicon glyphicon-filter"></span>
    </button>
    -->
  </div>

  <div class="form-holder">
    <form action="" name="basic_filters">
      <label>Academic Year</label><br>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary">
          <input type="radio" name="academic_year" value="10-11" checked="checked"> 2010-2011
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="academic_year" value="11-12"> 2011-2012
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="academic_year" value="12-13"> 2012-2013
        </label>
      </div>

      <br><br>

      <label>Area</label><br>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary">
          <input type="checkbox" name="area" value="rural"> Rural
        </label>
        <label class="btn btn-primary">
          <input type="checkbox" name="area" value="urban"> Urban
        </label>
      </div>

      <br><br>

      <label>Management</label><br>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary">
          <input type="checkbox" name="management" value="private"> Private
        </label>
        <label class="btn btn-primary">
          <input type="checkbox" name="management" value="govt"> Goverment
        </label>
      </div>
    </form>
    <br><br>
  </div>

  <div id="presets">
    <ul>
      <li>
        <a href="#">Preset A</a>
        <a href="#" class="preset-edit">
          <span class="glyphicon glyphicon-refresh reset_preset" data-toggle="tooltip" title="Reset the changes in the preset"></span>
          <span class="glyphicon glyphicon-cog"></span>
        </a>
        <p>lorem impus dolor sit amet</p>
      </li>
      <li>
        <a href="#">Preset A</a>
        <a href="#" class="preset-edit">
          <span class="glyphicon glyphicon-refresh reset_preset" data-toggle="tooltip" title="Reset the changes in the preset"></span>
          <span class="glyphicon glyphicon-cog"></span>
        </a>

        <p>lorem impus dolor sit amet</p>
      </li>
      <li class="active">
        <a href="#">Preset A</a>
        <a href="#" class="preset-edit">
          <span class="glyphicon glyphicon-refresh reset_preset" data-toggle="tooltip" title="Reset the changes in the preset"></span>
          <span class="glyphicon glyphicon-cog"></span>
        </a>

        <p>lorem impus dolor sit amet</p>
      </li>
      <li>
        <a href="#">Preset A</a>
        <a href="#" class="preset-edit">
          <span class="glyphicon glyphicon-refresh reset_preset" data-toggle="tooltip" title="Reset the changes in the preset"></span>
          <span class="glyphicon glyphicon-cog"></span>
        </a>

        <p>lorem impus dolor sit amet</p>
      </li>
      <li>
        <a href="#">Preset A</a>
        <a href="#" class="preset-edit">
          <span class="glyphicon glyphicon-refresh reset_preset" data-toggle="tooltip" title="Reset the changes in the preset"></span>
          <span class="glyphicon glyphicon-cog"></span>
        </a>

        <p>lorem impus dolor sit amet</p>
      </li>
    </ul>
  </div>

</div>
{% endblock %}
<!-- Not sure if this is good practice. -->
{% load static from staticfiles %}
{% block endbody %}
  <script type="text/javascript" src="{% static 'js/map.js' %}"></script>
{% endblock %}
