{% extends "base.html" %}
{% load bootstrap %}

{% block sidebar %}
<form id="id_form_search" method="GET" action="{% url 'v1_search' %}">
    <div class="form-group">
      <label for="">Academic Years</label>
      <select name="year" id="">
          <option value="1">2010-2011</option>
          <option value="2">2011-2012</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">Results to show</label>
      <select name="limit" id="">
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="1000">1000</option>
      </select>
    </div>
  <fieldset>
    <legend>General</legend>
    <div class="form-group">
      <label for="">Area Type</label>
      <select name="area_type" id="">
          <option value="">All</option>
          <option value="1">Rural</option>
          <option value="2">Urban</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">Building Status</label>
      <select name="building_status" id="">
          <option value="">All</option>
          <option value="1">Private</option>
          <option value="3">Government</option>
      </select>
    </div>
  </fieldset>
  <fieldset>
    <legend>Facilities</legend>
    <a href="javascript:void(0)">Select All</a> | <a href="javascript:void(0)">Deselect All</a>
    <div class="checkbox">
      <label>
        <input name="needs_repair" type="checkbox"> Classrooms needs repair
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input name="no_toilet" type="checkbox"> Doesn't have Toilet
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input name="no_girls_toilet" type="checkbox"> Doesn't have Girls' Toilet
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input name="no_electricity" type="checkbox"> Doesn't Have Electricity
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input name="no_library" type="checkbox"> Doesn't Have Library
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input name="no_ramp" type="checkbox"> Doesn't Have Ramp
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input name="no_playground" type="checkbox"> Doesn't Have Playground
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input name="no_medical" type="checkbox"> Doesn't Have Medical Checkup
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input name="no_water" type="checkbox"> Doesn't Have Drinking Water
      </label>
    </div>
  </fieldset>
  <fieldset>
      <legend>Teachers</legend>
      <div class="checkbox">
      <label>
        <input name="no_room_hm" type="checkbox"> Without separate room for HM
      </label>
    </div>
  </fieldset>
  <fieldset>
      <legend>Compound Indicators</legend>
      <div class="checkbox">
      <label>
        <input name="girl_boy_ratio" type="checkbox"> With Girls:Boys Gender ratio &lt; 1
      </label>
    </div>
  </fieldset>
  <button type="submit" class="btn btn-default">Search</button>
</form>
{% endblock %}

{% block body %}
<div id="time_taken"></div>
<pre class="pre-scrollable">
<code name="result" id="id_result" class="json">&nbsp;</code>
</pre>
{% endblock %}

{% block javascript %}
<script>
$('#id_form_search').on('submit', function(e) {
    e.preventDefault();
    $('#time_taken').html("Searching ...");
    var start_time = new Date().getTime();
    $.get("{% url 'v1_search' %}", $(this).serialize(), function(data, textStatus) {
        var request_time = new Date().getTime() - start_time;
        $('#id_result').html(JSON.stringify(data, null, 4));
        $('#time_taken').html("It took " + request_time + "ms");
    }, "json");
    return false;
})
</script>
{% endblock %}