{% extends "base.html" %}
{% load bootstrap %}

{% block sidebar %}
<form action="{% url 'v1_search' %}" id="id_form_search" method="get" name="id_form_search">
  <div class="form-group">
    <label for="">Academic Years</label> <select id="" name="year">
      <option value="1">
        2010-2011
      </option>

      <option value="2">
        2011-2012
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="">Results to show</label> <select id="" name="limit">
      <option value="20">
        20
      </option>

      <option value="50">
        50
      </option>

      <option value="100">
        100
      </option>

      <option value="1000">
        1000
      </option>
    </select>
  </div>

  <fieldset>
    <legend>General</legend>

    <div class="form-group">
      <label for="">Area Type</label> <select id="" name="area_type">
        <option value="">
          All
        </option>

        <option value="1">
          Rural
        </option>

        <option value="2">
          Urban
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="">Management</label> <select id="" name="management">
        <option value="">
          All
        </option>

        <option value="pvt">
          Private
        </option>

        <option value="govt">
          Government
        </option>
      </select>
    </div>
  </fieldset><a class="check-all" href="javascript:void(0)">Select All</a> | <a class="uncheck-all" href="javascript:void(0)">Deselect All</a>

  <fieldset>
    <legend>Facilities</legend>

    <div class="checkbox">
      <label><input name="filters" type="checkbox" value="needs_repair"> Classrooms needs repair</label>
    </div>

    <div class="checkbox">
      <label><input name="filters" type="checkbox" value="no_toilet"> Doesn't have Toilet</label>
    </div>

    <div class="checkbox">
      <label><input name="filters" type="checkbox" value="no_girls_toilet"> Doesn't have Girls' Toilet</label>
    </div>

    <div class="checkbox">
      <label><input name="filters" type="checkbox" value="no_electricity"> Doesn't Have Electricity</label>
    </div>

    <div class="checkbox">
      <label><input name="filters" type="checkbox" value="no_secure_wall"> Doesn't Have Secure Wall</label>
    </div>

    <div class="checkbox">
      <label><input name="filters" type="checkbox" value="no_mdm"> Doesn't Have Mid-day meal</label>
    </div>

    <div class="checkbox">
      <label><input name="filters" type="checkbox" value="no_library"> Doesn't Have Library</label>
    </div>

    <div class="checkbox">
      <label><input name="filters" type="checkbox" value="no_ramp"> Doesn't Have Ramp</label>
    </div>

    <div class="checkbox">
      <label><input name="filters" type="checkbox" value="no_blackboard"> Doesn't Have Blackboard</label>
    </div>

    <div class="checkbox">
      <label><input name="filters" type="checkbox" value="no_playground"> Doesn't Have Playground</label>
    </div>

    <div class="checkbox">
      <label><input name="filters" type="checkbox" value="no_medical"> Doesn't Have Medical Checkup</label>
    </div>

    <div class="checkbox">
      <label><input name="filters" type="checkbox" value="no_water"> Doesn't Have Drinking Water</label>
    </div>
  </fieldset>

  <fieldset>
    <legend>Teachers</legend>

    <div class="checkbox">
      <label><input name="filters" type="checkbox" value="no_room_hm"> Without separate room for HM</label>
    </div>

    <div class="checkbox">
      <label><input name="filters" type="checkbox" value="no_hm"> Without HM</label>
    </div>
  </fieldset>

  <fieldset>
    <legend>RTE</legend>

    <div class="checkbox">
      <label><input name="filters" type="checkbox" value="no_sdmc_constituted"> Without SDMC Constituted</label>
    </div>

    <div class="checkbox">
      <label><input name="filters" type="checkbox" value="no_sdmc_meeting"> Without SDMC Meetings</label>
    </div>

    <div class="checkbox">
      <label><input name="filters" type="checkbox" value="no_textbook"> Without Text Books</label>
    </div>

    <div class="checkbox">
      <label><input name="filters" type="checkbox" value="weakersec_children_enrolled"> With Children from Weaker Section Enrolled</label>
    </div>
  </fieldset>

  <fieldset>
    <legend>Compound Indicators</legend>

    <div class="checkbox">
      <label><input name="filters" type="checkbox" value="enrolment"> With Enrolment</label>
        from
        <input class="form-control" type="text" name="enrolment_min" value="0">
        to
        <input class="form-control" type="text" name="enrolment_max" value="25">
    </div>

    <div class="checkbox">
      <label><input name="filters" type="checkbox" value="girl_boy_ratio"> With Girls &lt; Boys</label>
    </div>

    <div class="checkbox">
      <label><input name="filters" type="checkbox" value="ptr"> With Pupil-Teacher Ratio </label>
        from
        <input class="form-control" type="text" name="ptr_min" value="0">
        to
        <input class="form-control" type="text" name="ptr_max" value="35">
    </div>
  </fieldset>

  <fieldset>
    <legend>Range Indicators</legend>
    <div class="checkbox">
      <label for="">
        <input name="filters" type="checkbox" value="classroom_count"> With number of classroom between
      </label>
      <input type="text" class="form-control" name="classroom_min" value="0">
      and
      <input type="text" class="form-control" name="classroom_max" value="50">
    </div>
  </fieldset>

  <button class="btn btn-default" type="submit">Search</button>
</form>
{% endblock %}

{% block body %}
<div id="time_taken"></div>
<pre class="pre-scrollable">
<code name="result" id="id_result" class="json">&nbsp;</code>
</pre>
{% endblock %}

{% block javascript %}
<script>
$('#id_form_search').on('submit', function(e) {
    e.preventDefault();
    $('#id_result').html("Searching ...");
    $('#time_taken').html("Searching ...");
    var start_time = new Date().getTime();
    $.get("{% url 'v1_search' %}", $(this).serialize(), function(data, textStatus) {
        var request_time = new Date().getTime() - start_time;
        $('#id_result').html(JSON.stringify(data, null, 4));
        $('#time_taken').html("It took " + request_time + "ms");
    }, "json");
    return false;
});
$('.check-all').on('click', function(e){
    $('input[type=checkbox]').prop('checked', true);
});
$('.uncheck-all').on('click', function(e){
    $('input[type=checkbox]').prop('checked', false);
});
</script>
{% endblock %}